.CurrentCaseStudy {
  margin-top: 3%;
  height: fit-content;
  width: 60%;
  margin-left: 20%;
  padding: 5px;
}

.HeadingCase {
  font-family: 'Geo';
  font-size: 20pt;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #5d576b;
  margin: 40px 0 50px 0;
}

.StudyName {
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18pt;
  font-family: 'Mulish', sans-serif;
  text-align: center;
}

.StudyName:hover {
  text-decoration: underline;
  text-decoration-color: gray;
}

.HelloStudent {
  display: flex;
  margin: 40px 0 50px 0;
  justify-content: center;
  align-items: center;
  padding: 10px;
  font-family: 'Mulish';
  font-size: 25pt;
}

.UploadButton {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-top: 10px;
}

.UploadedFileName {
  width: fit-content;
  height: fit-content;
  background-color: white;
  float: left;
  text-align: center;
  margin-top: px;
  font-family: 'Mulish';
  font-size: 14pt;
}

.Uploadbtn {
  border: none;
  float: left;
  padding: 10px;
  margin-left: 30px;
  font-family: 'Geo';
  font-size: large;
  color: #5d576b;
  font-size: 20pt;
}

.Uploadbtn:hover {
  background-color: #ed6a5a;
  letter-spacing: 1px;
  border-radius: 3px;
}

.Submit {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}

.SubmitButton {
  border: none;
  padding: 5px 8px 5px 8px;
  background-color: #ed6a5a;
  border-radius: 3px;
  font-size: 13pt;
  font-family: 'Mulish';
  color: white;
  flex: 2;
}

.SubmitButton:hover {
  background-color: #5d576b;
  letter-spacing: 1px;
}

.nthCaseStudyTile {
  margin: 10px 10% 20px 10%;
  width: 76%;
  height: 50px;
  background-color: #e6ebe0;
  padding: 10px 2% 10px 2%;
  display: flex;
  align-items: center;
}

.CaseStudyTitle {
  flex: 5;
  width: 30%;
}

.CaseStudyText {
  font-family: 'Mulish';
  font-size: 13pt;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.CaseStudyDownload {
  flex: 2;
}

.CaseStudyUpload {
  flex: 2;
  margin-bottom: 11px;
}

.file-input-wrapper {
  overflow: hidden;
}

.file-input-wrapper > .btn-file-input {
  padding: 5px 15px 5px 15px;
}

.btn-file-input{
    background-color: #5d576b;
    border: none;
    color: #ffffff;
    font-size: 13pt;
    font-family: 'Mulish';
    border-radius: 3px;
}

.file-input-wrapper > .btn-file-input:hover{
    letter-spacing: 1px;
    background-color: #ed6b5abb;
}

@media only screen and (max-width: 900px) {
  .CurrentCaseStudy {
    margin-top: 3%;
    height: fit-content;
    width: 80%;
    margin-left: 10%;
    padding: 5px;
  }

  .HeadingCase {
    font-family: 'Geo';
    font-size: 16pt;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5d576b;
  }

  .StudyName {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14pt;
    font-family: 'Mulish', sans-serif;
    text-align: center;
  }

  .HelloStudent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    padding: 10px;
    font-family: 'Mulish';
    font-size: 20pt;
  }

  .nthCaseStudyTile{
    margin: 3px 3% 6px 3%;
    width: 92%;
    height: 50px;
    background-color: #e6ebe0;
    padding: 10px 2% 10px 2%;
    align-items: center;
    display: flex;
  }

  .CaseStudyTitle {
    flex: 1;
    width: 100%;
    height: fit-content;
  }
  
  .CaseStudyText {
    font-family: 'Mulish';
    font-size: 10pt;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .SubmitButton{
    font-size: 9pt;
    flex: 0;
    width: fit-content;
  }

  .file-input-wrapper > .btn-file-input{
    font-size: 9pt;
  }

  .CaseStudyDownload {
    flex: 0;
    width: 100%;
  }
  
  .CaseStudyUpload {
    flex: 0;
    width: 100%;
    margin-bottom: 11px;
  }
}
